################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.AssemblyInfoInputs.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.assets.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.csproj.AssemblyReference.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.GeneratedMSBuildEditorConfig.editorconfig
/.vs/training/FileContentIndex/ccbbbe56-fb07-4385-a835-7f0633ade3f6.vsidx
/.vs/training/FileContentIndex/f959b4e6-7ee9-483d-ab0a-a7ce8e6f054b.vsidx
/Change_Tracker/obj/Change_Tracker.csproj.nuget.dgspec.json
/Change_Tracker/obj/Change_Tracker.csproj.nuget.g.props
/Change_Tracker/obj/project.assets.json
/Change_Tracker/obj/project.nuget.cache
/one_to_many_rl/obj/One_to_Many_RL.csproj.nuget.dgspec.json
/one_to_many_rl/obj/one_to_many_rl.csproj.nuget.g.props
/one_to_many_rl/obj/project.assets.json
/one_to_many_rl/obj/project.nuget.cache
/Querying/obj/Debug/net6.0/Querying.AssemblyInfoInputs.cache
/Querying/obj/Debug/net6.0/Querying.assets.cache
/Querying/obj/Debug/net6.0/Querying.csproj.AssemblyReference.cache
/Querying/obj/Debug/net6.0/Querying.GeneratedMSBuildEditorConfig.editorconfig
/Querying/obj/project.assets.json
/Querying/obj/project.nuget.cache
/Querying/obj/Querying.csproj.nuget.dgspec.json
/Querying/obj/Querying.csproj.nuget.g.props
/Tracking/obj/Debug/net6.0/Tracking.AssemblyInfoInputs.cache
/Tracking/obj/Debug/net6.0/Tracking.assets.cache
/Tracking/obj/Debug/net6.0/Tracking.csproj.AssemblyReference.cache
/Tracking/obj/Debug/net6.0/Tracking.GeneratedMSBuildEditorConfig.editorconfig
/Tracking/obj/project.assets.json
/Tracking/obj/project.nuget.cache
/Tracking/obj/Tracking.csproj.nuget.dgspec.json
/Tracking/obj/Tracking.csproj.nuget.g.props
/Adding_Related_Data/obj/Adding_Related_Data.csproj.nuget.dgspec.json
/Adding_Related_Data/obj/Adding_Related_Data.csproj.nuget.g.props
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.AssemblyInfoInputs.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.assets.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.csproj.AssemblyReference.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.GeneratedMSBuildEditorConfig.editorconfig
/Adding_Related_Data/obj/project.assets.json
/Adding_Related_Data/obj/project.nuget.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.AssemblyInfoInputs.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.assets.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.csproj.AssemblyReference.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.GeneratedMSBuildEditorConfig.editorconfig
/AutoMapperDemo.API/obj/AutoMapperDemo.API.csproj.nuget.dgspec.json
/AutoMapperDemo.API/obj/AutoMapperDemo.API.csproj.nuget.g.props
/AutoMapperDemo.API/obj/project.assets.json
/AutoMapperDemo.API/obj/project.nuget.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.AssemblyInfoInputs.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.assets.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.csproj.AssemblyReference.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.GeneratedMSBuildEditorConfig.editorconfig
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.AssemblyInfoInputs.cache
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.assets.cache
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.csproj.AssemblyReference.cache
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.GeneratedMSBuildEditorConfig.editorconfig
/many_to_many_rl/obj/Many_to_Many_RL.csproj.nuget.dgspec.json
/many_to_many_rl/obj/Many_to_Many_RL.csproj.nuget.g.props
/many_to_many_rl/obj/project.assets.json
/many_to_many_rl/obj/project.nuget.cache
*.wsuo
