################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
/Change_Tracker/obj/
/Change_Tracker/bin/
/one_to_many_rl/obj/
/one_to_many_rl/bin/
/Querying/obj/
/Querying/bin/
/Tracking/bin/
/Tracking/obj/
/Adding_Related_Data/bin/
/Adding_Related_Data/obj/
/AutoMapperDemo.API/obj/
/AutoMapperDemo.API/bin/
/Change_Tracker/bin/
/Change_Tracker/obj/
/many_to_many_rl/bin/
/many_to_many_rl/obj/

*.wsuo

/JsonColumns/bin/
/JsonColumns/obj/



