################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.AssemblyInfoInputs.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.assets.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.csproj.AssemblyReference.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.GeneratedMSBuildEditorConfig.editorconfig
/.vs/training/FileContentIndex/ccbbbe56-fb07-4385-a835-7f0633ade3f6.vsidx
/.vs/training/FileContentIndex/f959b4e6-7ee9-483d-ab0a-a7ce8e6f054b.vsidx
/Change_Tracker/obj/Change_Tracker.csproj.nuget.dgspec.json
/Change_Tracker/obj/Change_Tracker.csproj.nuget.g.props
/Change_Tracker/obj/project.assets.json
/Change_Tracker/obj/project.nuget.cache
/one_to_many_rl/obj/One_to_Many_RL.csproj.nuget.dgspec.json
/one_to_many_rl/obj/one_to_many_rl.csproj.nuget.g.props
/one_to_many_rl/obj/project.assets.json
/one_to_many_rl/obj/project.nuget.cache
/Querying/obj/Debug/net6.0/Querying.AssemblyInfoInputs.cache
/Querying/obj/Debug/net6.0/Querying.assets.cache
/Querying/obj/Debug/net6.0/Querying.csproj.AssemblyReference.cache
/Querying/obj/Debug/net6.0/Querying.GeneratedMSBuildEditorConfig.editorconfig
/Querying/obj/project.assets.json
/Querying/obj/project.nuget.cache
/Querying/obj/Querying.csproj.nuget.dgspec.json
/Querying/obj/Querying.csproj.nuget.g.props
/Tracking/obj/Debug/net6.0/Tracking.AssemblyInfoInputs.cache
/Tracking/obj/Debug/net6.0/Tracking.assets.cache
/Tracking/obj/Debug/net6.0/Tracking.csproj.AssemblyReference.cache
/Tracking/obj/Debug/net6.0/Tracking.GeneratedMSBuildEditorConfig.editorconfig
/Tracking/obj/project.assets.json
/Tracking/obj/project.nuget.cache
/Tracking/obj/Tracking.csproj.nuget.dgspec.json
/Tracking/obj/Tracking.csproj.nuget.g.props
/Adding_Related_Data/obj/Adding_Related_Data.csproj.nuget.dgspec.json
/Adding_Related_Data/obj/Adding_Related_Data.csproj.nuget.g.props
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.AssemblyInfoInputs.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.assets.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.csproj.AssemblyReference.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.GeneratedMSBuildEditorConfig.editorconfig
/Adding_Related_Data/obj/project.assets.json
/Adding_Related_Data/obj/project.nuget.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.AssemblyInfoInputs.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.assets.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.csproj.AssemblyReference.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.GeneratedMSBuildEditorConfig.editorconfig
/AutoMapperDemo.API/obj/AutoMapperDemo.API.csproj.nuget.dgspec.json
/AutoMapperDemo.API/obj/AutoMapperDemo.API.csproj.nuget.g.props
/AutoMapperDemo.API/obj/project.assets.json
/AutoMapperDemo.API/obj/project.nuget.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.AssemblyInfoInputs.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.assets.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.csproj.AssemblyReference.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.GeneratedMSBuildEditorConfig.editorconfig
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.AssemblyInfoInputs.cache
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.assets.cache
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.csproj.AssemblyReference.cache
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.GeneratedMSBuildEditorConfig.editorconfig
/many_to_many_rl/obj/Many_to_Many_RL.csproj.nuget.dgspec.json
/many_to_many_rl/obj/Many_to_Many_RL.csproj.nuget.g.props
/many_to_many_rl/obj/project.assets.json
/many_to_many_rl/obj/project.nuget.cache
*.wsuo
/.vs/training/DesignTimeBuild/.dtbcache.v2
/.vs/training/FileContentIndex/06133045-8a9b-4b81-a95e-0b1d19894d9e.vsidx
/.vs/training/v17/.suo
/Adding_Related_Data/bin/Debug/net6.0/Adding_Related_Data.dll
/Adding_Related_Data/bin/Debug/net6.0/Adding_Related_Data.pdb
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.AssemblyInfo.cs
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.csproj.CoreCompileInputs.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.csproj.FileListAbsolute.txt
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.dll
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.genruntimeconfig.cache
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.pdb
/Adding_Related_Data/obj/Debug/net6.0/Adding_Related_Data.sourcelink.json
/Adding_Related_Data/obj/Debug/net6.0/ref/Adding_Related_Data.dll
/Adding_Related_Data/obj/Debug/net6.0/refint/Adding_Related_Data.dll
/AutoMapperDemo.API/bin/Debug/net6.0/AutoMapperDemo.API.deps.json
/AutoMapperDemo.API/bin/Debug/net6.0/AutoMapperDemo.API.dll
/AutoMapperDemo.API/bin/Debug/net6.0/AutoMapperDemo.API.exe
/AutoMapperDemo.API/bin/Debug/net6.0/AutoMapperDemo.API.pdb
/AutoMapperDemo.API/bin/Debug/net6.0/Serilog.dll
/AutoMapperDemo.API/obj/Debug/net6.0/apphost.exe
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.AssemblyInfo.cs
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.csproj.CoreCompileInputs.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.csproj.FileListAbsolute.txt
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.dll
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.genruntimeconfig.cache
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.pdb
/AutoMapperDemo.API/obj/Debug/net6.0/AutoMapperDemo.API.sourcelink.json
/AutoMapperDemo.API/obj/Debug/net6.0/ref/AutoMapperDemo.API.dll
/AutoMapperDemo.API/obj/Debug/net6.0/refint/AutoMapperDemo.API.dll
/AutoMapperDemo.API/obj/Debug/net6.0/staticwebassets/msbuild.build.AutoMapperDemo.API.props
/AutoMapperDemo.API/obj/Debug/net6.0/staticwebassets/msbuild.buildMultiTargeting.AutoMapperDemo.API.props
/AutoMapperDemo.API/obj/Debug/net6.0/staticwebassets/msbuild.buildTransitive.AutoMapperDemo.API.props
/Change_Tracker/bin/Debug/net6.0/Change_Tracker.dll
/Change_Tracker/bin/Debug/net6.0/Change_Tracker.pdb
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.AssemblyInfo.cs
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.csproj.CoreCompileInputs.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.csproj.FileListAbsolute.txt
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.dll
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.genruntimeconfig.cache
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.pdb
/Change_Tracker/obj/Debug/net6.0/Change_Tracker.sourcelink.json
/Change_Tracker/obj/Debug/net6.0/ref/Change_Tracker.dll
/Change_Tracker/obj/Debug/net6.0/refint/Change_Tracker.dll
/JsonColumns/bin/Debug/net8.0/appsettings.Development.json
/JsonColumns/bin/Debug/net8.0/appsettings.json
/JsonColumns/bin/Debug/net8.0/JsonColumns.deps.json
/JsonColumns/bin/Debug/net8.0/JsonColumns.dll
/JsonColumns/bin/Debug/net8.0/JsonColumns.exe
/JsonColumns/bin/Debug/net8.0/JsonColumns.pdb
/JsonColumns/bin/Debug/net8.0/JsonColumns.runtimeconfig.json
/JsonColumns/bin/Debug/net8.0/Microsoft.OpenApi.dll
/JsonColumns/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/JsonColumns/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/JsonColumns/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/many_to_many_rl/obj/Debug/net6.0/many_to_many_rl.AssemblyInfo.cs
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.csproj.CoreCompileInputs.cache
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.csproj.FileListAbsolute.txt
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.dll
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.genruntimeconfig.cache
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.pdb
/many_to_many_rl/obj/Debug/net6.0/Many_to_Many_RL.sourcelink.json
/many_to_many_rl/obj/Debug/net6.0/ref/Many_to_Many_RL.dll
/many_to_many_rl/obj/Debug/net6.0/refint/Many_to_Many_RL.dll
/one_to_many_rl/bin/Debug/net6.0/one_to_many_rl.dll
/one_to_many_rl/bin/Debug/net6.0/one_to_many_rl.pdb
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.AssemblyInfo.cs
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.csproj.CoreCompileInputs.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.csproj.FileListAbsolute.txt
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.dll
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.genruntimeconfig.cache
/one_to_many_rl/obj/Debug/net6.0/one_to_many_rl.pdb
/one_to_many_rl/obj/Debug/net6.0/One_to_Many_RL.sourcelink.json
/one_to_many_rl/obj/Debug/net6.0/ref/one_to_many_rl.dll
/one_to_many_rl/obj/Debug/net6.0/refint/one_to_many_rl.dll
/Querying/obj/Debug/net6.0/Querying.AssemblyInfo.cs
/Querying/obj/Debug/net6.0/Querying.csproj.CoreCompileInputs.cache
/Querying/obj/Debug/net6.0/Querying.csproj.FileListAbsolute.txt
/Querying/obj/Debug/net6.0/Querying.sourcelink.json
/many_to_many_rl/bin/Debug/net6.0/Many_to_Many_RL.deps.json
/many_to_many_rl/bin/Debug/net6.0/Many_to_Many_RL.dll
/many_to_many_rl/bin/Debug/net6.0/Many_to_Many_RL.pdb
/Tracking/bin/Debug/net6.0/Tracking.dll
/Tracking/bin/Debug/net6.0/Tracking.pdb
/Tracking/obj/Debug/net6.0/ref/Tracking.dll
/Tracking/obj/Debug/net6.0/refint/Tracking.dll
/Tracking/obj/Debug/net6.0/Tracking.AssemblyInfo.cs
/Tracking/obj/Debug/net6.0/Tracking.csproj.CoreCompileInputs.cache
/Tracking/obj/Debug/net6.0/Tracking.csproj.FileListAbsolute.txt
/Tracking/obj/Debug/net6.0/Tracking.dll
/Tracking/obj/Debug/net6.0/Tracking.genruntimeconfig.cache
/Tracking/obj/Debug/net6.0/Tracking.pdb
/Tracking/obj/Debug/net6.0/Tracking.sourcelink.json
/JsonColumns/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/JsonColumns/obj/Debug/net8.0/apphost.exe
/JsonColumns/obj/Debug/net8.0/JsonColumns.AssemblyInfo.cs
/JsonColumns/obj/Debug/net8.0/JsonColumns.AssemblyInfoInputs.cache
/JsonColumns/obj/Debug/net8.0/JsonColumns.assets.cache
/JsonColumns/obj/Debug/net8.0/JsonColumns.csproj.AssemblyReference.cache
/JsonColumns/obj/Debug/net8.0/JsonColumns.csproj.CopyComplete
/JsonColumns/obj/Debug/net8.0/JsonColumns.csproj.CoreCompileInputs.cache
/JsonColumns/obj/Debug/net8.0/JsonColumns.csproj.FileListAbsolute.txt
/JsonColumns/obj/Debug/net8.0/JsonColumns.dll
/JsonColumns/obj/Debug/net8.0/JsonColumns.GeneratedMSBuildEditorConfig.editorconfig
/JsonColumns/obj/Debug/net8.0/JsonColumns.genruntimeconfig.cache
/JsonColumns/obj/Debug/net8.0/JsonColumns.GlobalUsings.g.cs
/JsonColumns/obj/Debug/net8.0/JsonColumns.MvcApplicationPartsAssemblyInfo.cache
/JsonColumns/obj/Debug/net8.0/JsonColumns.MvcApplicationPartsAssemblyInfo.cs
/JsonColumns/obj/Debug/net8.0/JsonColumns.pdb
/JsonColumns/obj/Debug/net8.0/JsonColumns.sourcelink.json
/JsonColumns/obj/Debug/net8.0/ref/JsonColumns.dll
/JsonColumns/obj/Debug/net8.0/refint/JsonColumns.dll
/JsonColumns/obj/Debug/net8.0/staticwebassets/msbuild.build.JsonColumns.props
/JsonColumns/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.JsonColumns.props
/JsonColumns/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.JsonColumns.props
/JsonColumns/obj/Debug/net8.0/staticwebassets.build.json
/JsonColumns/obj/JsonColumns.csproj.nuget.dgspec.json
/JsonColumns/obj/JsonColumns.csproj.nuget.g.props
/JsonColumns/obj/JsonColumns.csproj.nuget.g.targets
/JsonColumns/obj/project.assets.json
/JsonColumns/obj/project.nuget.cache
/training.sln
/JsonColumns/bin/Debug/net8.0
